<div class="container">
  <form
    [formGroup]="form"
    class="register"
    action=""
    method="post"
    (ngSubmit)="register()"
  >
    <fieldset>
      <h2>Registration Form</h2>

      <p class="field field-icon">
        <label for="email">
          <span>
            <i class="fas fa-envelope"></i>
          </span>
        </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="your_email@site.com"
          formControlName="email"
        />
      </p>

      <ng-container *ngIf="form.get('email')?.touched">
        <p *ngIf="form.get('email')?.errors?.['required']" class="error">
          Email is required!
        </p>
        <p *ngIf="form.get('email')?.errors?.['invalidEmail']" class="error">
          Email is not valid!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="password">
          <span>
            <i class="fas fa-lock"></i>
          </span>
        </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          formControlName="password"
        />
      </p>

      <ng-container *ngIf="form.get('password')?.touched">
        <p *ngIf="form.get('password')?.errors?.['required']" class="error">
            Password is required!
        </p>

        <p *ngIf="form.get('password')?.errors?.['minlength']" class="error">
            Password must be at least 4 characters!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="rePassword">
          <span>
            <i class="fas fa-lock"></i>
          </span>
        </label>
        <input
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="******"
          formControlName="rePassword"
        />
      </p>

      <ng-container *ngIf="form.get('rePassword')?.touched">
        <p *ngIf="form.get('rePassword')?.errors?.['required']" class="error">
            Repeat Password is required!
        </p>

        <p *ngIf="form.get('rePassword')?.errors?.['sameValue']" class="error">
            Repeat Password does not match password!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="personName">
          <span>
            <i class="fas fa-user"> </i>
          </span>
        </label>
        <input
          class="input-error"
          type="text"
          name="personName"
          id="personName"
          placeholder="Your name"
          formControlName="personName"
        />
      </p>

      <ng-container *ngIf="form.get('personName')?.touched">
        <p *ngIf="form.get('personName')?.errors?.['required']" class="error">
          Name is required!
        </p>

        <p *ngIf="form.get('personName')?.errors?.['minlength']" class="error">
          Name should be at least 3 characters long!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="sex">
          <span>
            <i class="fas fa-mars"></i>
          </span>
        </label>

        <select
          name="sex"
          id="sex"
          class="sex"
          formControlName="sex"
          ngModel="--"
        >
          <option value="--">--</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </p>

      <button>Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
