<div class="container">
  <div class="recipe-title" *ngIf="recipes">
    <div *ngFor="let recipe of recipesSlice" class="recipe-container">
      <div [routerLink]="['/recipes', recipe._id]" class="recipe-name-wrapper">
        <img class="recipe-image" [attr.src]="recipe.imgUrl" />
        <div class="recipe-name">
          <h2>{{ recipe.recipeName }}</h2>

          <div class="item">
            <div>
              <p>
                Date: <time>{{ recipe.created_at }}</time>
              </p>
              <div class="nick-name">
                <p>
                  Author: <span>{{ recipe.userId.personName }}</span>
                </p>
              </div>
            </div>
            <div class="likes">
              <p>
                Likes: <span>{{ recipe.likes.length }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = 'pagination-container'>
      <div>
        <div >
          <button class="pagination" *ngFor="let page of pageNumbers" (click)="changePage(page)" [class.active]="page == selectedPage" >{{page}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!recipes">Loading Recipes...</div>
</div>
