.new-recipe-border {
  width: 40%;
  min-width: 600px;
  margin: 2em auto 0;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;

  border: .3em solid #2dd465;
  border-radius: .5rem;
  box-shadow: 0 0 1em 0 #000;
}

.new-recipe-border .input {
  margin-bottom: 1em;
}

.header-background {
  background-color: #2dd465;
  border: 1px solid #2dd465;
  // padding: 1.5em;
  padding-bottom: 0;
  margin-bottom: 1em;
  // border-top-right-radius: 1em;
  // border-top-left-radius: 1em;
  border-radius: 1em;
  color: white;
  font-size: 24px;
  text-align: center;
}

// .header-background span {
//   // background-color: #fff;
//   // padding: 0.5em;
//   // margin-top: 1em;
//   // border-radius: 0.3em;
// }

.title, .new-recipe-content {
  display: flex;
  flex-direction: column;
}

.new-recipe-content {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.new-recipe-content textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0;
}

.new-recipe-content label {
  margin-bottom: 0.3em;
}

.new-recipe-title input, select {
  width: 100%;
  border-radius: 0.3em;
  padding: 0.35em;
}

button+button {
  margin-left: 1rem;
}

.new-recipe-buttons {
  margin-top: 1em;
  text-align: center;
}

.new-recipe-buttons button {
  padding: 0.4em 1.5em;
  color: white;
  background-color: #f07c39;
  border: none;
  border-radius: 0.3em;
  padding: 0.6em 1.2em;
  margin-top: 1.5rem;
  outline: none;
}

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}
