/* recipe */
// .container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   max-width: 1000px;
//   margin: 2em auto 0;
//   border: .3em solid #2dd465;
//   border-radius: .5rem;
//   box-shadow: 0 0 1em 0 #000;
// }

.recipe-border {
  // border: 1px solid;
  // border-radius: 1em;
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;

  border: .3em solid #2dd465;
  border-radius: .5rem;
  box-shadow: 0 0 1em 0 #000;
}

.recipe-border .input {
  margin-bottom: 1em;
}

.header-background {
  background-color: #2dd465;
  border: 1px solid #2dd465;
  // padding: 1.5em;
  padding-bottom: 0;
  margin-bottom: 1em;
  // border-top-right-radius: 1em;
  // border-top-left-radius: 1em;
  border-radius: 1em;
  color: white;
  font-size: 24px;
  text-align: center;
}

// .header-background span {
//   // background-color: #fff;
//   // padding: 0.5em;
//   // margin-top: 1em;
//   // border-radius: 0.3em;
// }

.title, .recipe-content {
  display: flex;
  flex-direction: column;
}

.recipe-content {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.recipe-content textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0;
}

.recipe-content label {
  margin-bottom: 0.3em;
}

.recipe-title input, select {
  width: 100%;
  border-radius: 0.3em;
  padding: 0.35em;
}

button+button {
  margin-left: 1rem;
}

.recipe-buttons {
  margin-top: 1em;
  text-align: center;
}

.recipe-buttons button {
  padding: 0.4em 1.5em;
  border: 1px solid #333333;
  border-radius: 0.3em;
}

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}

.recipe-image {
  width: 100%;
}

.titles {
 background-color: #2dd465;
 border-radius: 5px;
 padding: 5px;
}

.liked {
  color: #2dd465;
}

.unliked {
  color: black;
}
