<div class="container">
  <div class="profile"><img src="/assets/no-gender.png" alt="default user">
      <h3>User Info:</h3>
      <div class="flex">
          <p>Email: </p>
          <p>john.doe@gmail.com</p>
      </div>
      <div class="flex">
          <p>Name: </p>
          <p>Johny</p>
      </div>
      <div class="flex">
          <p>Phone: </p>
          <p>+359 885 888 888</p>
      </div>
      <div class="flex">
        <p>City: </p>
        <p>Sofia</p>
      </div>
      <div class="flex">
        <p>Sex: </p>
        <p>Female</p>
      </div>
      <button class="edit-button">Edit</button>
  </div>
</div>
